
html, body, #root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.graph-container {
  color: white;
  text-align: center;
  margin-top: 40px;
  overflow-x: hidden;
}

.graph-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.graph-error {
  font-size: 20px;
  color: #ff4d4f;
  font-weight: bold;
}

.graph-loading {
  font-style: italic;
  color: #cccccc;
}

.graph-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;

  border: 0.5px solid #d633ff;
  box-shadow: 0 0 5px #d633ff, 0 0 5px #d633ff, 0 0 5px #d633ff;
  transition: box-shadow 0.3s ease-in-out;
}

.graph-image:hover {
  box-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}